.loading {
  text-align: center
}

.contactos {
  align-items: center;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .96rem;
  justify-content: center;
}

.tarjeta-contacto {
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 5px;
  padding: 1rem;
  width: 25rem;
  border: black solid 1px;
  background-color: #4f4f4f;
}

.tarjeta-contacto-datos {
  justify-content: center;
  align-items: center;
  gap: 5px;
  display: flex;
  padding: 1rem;
}

.avatar {
  padding: 5px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.mail-contact {
  display: flex;
  gap: .96rem;
}

.mail {
  font-weight: bold;
}

.tarjeta-contacto-info {
  padding: .96rem;
  margin-left: .96rem;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.botones{
  display: flex;
  justify-content: center;
  padding: .96rem;
  gap: 5px;
}

.boton {
  border-radius: 25%;
  background-color: #ffffff;
}
:hover.boton {
  background-color: yellow;
}